<p>
  <b>Local:</b>
  <%=h @concerto.local %>
</p>

<p>
  <b>Localidade:</b>
  <%=h @concerto.localidade %>
</p>

<p>
  <b>Data:</b>
  <%=h @concerto.data %>
</p>


<%= link_to 'Edit', edit_concerto_path(@concerto) %> |
<%= link_to 'Back', concertos_path %>